body{
    background: black;
}

#stats{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

#stats h1{
    font-size: 1.3em;
    text-decoration: underline black;
}

#centre{
    width: auto;
    background-color: white;
}

#gauche{
    width: 47%;
    background-color: white;
    float: left;
}

#droite{
    width: 47%;
    background-color: white;
    float: right;
}